$font-family = Roboto, "微軟正黑體"
global-font = 15px\/1.8 $font-family
main-color = #4889F5

light-border = 1px solid #DDD

navbar-height = 56px
navbar-width = 80vw

tab-height = 44px

sidebar-width = 210px

chatroom-width = 320px
chatroom-input-height = 60px
chatroom-padding = 10px
