$font-family = Roboto, "微軟正黑體"
global-font = 15px\/1.8 $font-family

light-border = 1px solid #DDD

navbar-height = 42px
navbar-width = 80vw

tab-height = 37px

sidebar-width = 140px

chatroom-width = 320px
chatroom-input-height = 60px
chatroom-padding = 10px
